body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;

  #root {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // background: radial-gradient(circle at 10% 20%, rgba(91, 172, 254, 0.247) 0%, rgba(91, 224, 254, 0.26) 47.2%, rgba(45, 151, 221, 0.61) 49%);
    background-image: url(../public/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
  

    .App {
      width: 100%;
      height: 100vh;
  }

  Navbar{
  max-width: 100%;
  }
    Nav{
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      background: radial-gradient(circle at 10% 20%, rgba(0, 52, 89, 0.863) 0%, rgb(1, 148, 206) 90%);
    }

      a{
          text-decoration: none;
          font-weight: bold;
          color: white;
          font-size: 1.15rem;
          padding-right: 3.5vh;
       
         &:hover{
         color: #fdb44b;
            
          }
      }
      main {
        padding: 0 1%;
        color: rgb(36, 36, 36);
        }

        div{
            font-size: 1.2rem;
        }

        .date-info{
          font-size: 3rem;
          text-shadow: 1px 1px 1.5px rgb(19, 86, 148);
        }

        .weather{
          padding-top: 20vh;
          span{
            font-size: 8.5rem;
            text-shadow: 3px 3px 4.5px rgb(19, 86, 148);
            color: black;
        }

        .iconList{
         max-width: 100%;
          display: flex;
          div{
            margin-right: 2vw;
          }
        }
    
        }
      
    }
  }



.inputButton{
  max-width: 100%;
  margin: 3vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



input{
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-shadow: .5px .5px .75px rgb(15, 86, 153);
}

button{
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  background: #1c5174c2; 
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: white;
}


button:hover{
  font-weight: bold;
}


// Clouds animation

.cloudPNG img{
  width: 350px;
  opacity: .8;
  position:fixed;
  top: 55vh;
  animation: cloudMove;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: hidden;
}


@keyframes cloudMove {
  from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
} 
