body {
  font-family: Arial, Helvetica, sans-serif;

  #root {
    min-height: 100vh;
    background-image: url(../public/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;

    .App {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .App-wrapper {
        height: 100%;
        margin: auto;
        width: 75%;
      }
    }

    Nav {
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      background: radial-gradient(
        circle at 10% 20%,
        rgba(0, 52, 89, 0.863) 0%,
        rgb(1, 148, 206) 90%
      );

      .navigationPart {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: white;
      font-size: 1rem;
      padding-right: 4rem;
      transition: 0.5s ease-in-out;

      &:hover {
        color: #fdb44b;
      }
    }

    .date-info {
      font-size: 3rem;
      text-shadow: 0.5px 0.5px 0.75px rgba(19, 86, 148, 0.685);
    }

    .weather {
      .temperature {
        font-size: 9rem;
        line-height: 10rem;
        text-shadow: 1px 1px 1.5px rgba(19, 86, 148, 0.685);
        color: rgb(33, 33, 33);
      }

      .iconList {
        max-width: 100%;
        display: flex;
        div {
          padding: 15px 20px 15px 0px;
        }
      }
    }
  }
}

.inputButton {
  margin: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  outline: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.inputButton button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background: #0e3c5ac7;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: white;
  transition: 0.5s ease-in-out;
}

////////// Front page style start

.nav-logo {
  width: 100px;
}

// Clouds animation

.cloudPNG img {
  width: 350px;
  opacity: 0.9;
  position: fixed;
  top: 28vh;
  animation: cloudMove;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: hidden;
}

.forecast {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bolder;
}

.LinearChartWeather {
  width: 100vw;
  padding: 10px;
  height: 300px;
  position: fixed;
  left: 0;
  bottom: 0px;
}

@keyframes cloudMove {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}


